<ng-container *ngIf="!showOnlyComponentRoute">
  <app-header></app-header>
  <div class="app-container">
    <ng-container *ngIf="isUserLoggedIn()">
      <app-sidebar></app-sidebar>
    </ng-container>
    <div class="content-container" id="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
  <app-button-scroll-top></app-button-scroll-top>
</ng-container>

<ng-container *ngIf="showOnlyComponentRoute">
  <router-outlet></router-outlet>
</ng-container>