.register-container {
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-box {
  padding: 15px;
  width: 100%;
}

.register-header {
  margin-bottom: 15px;
}

.logo {
  width: 100px;
}

.text-center {
  text-align: center;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  position: relative;
}

.input-container {
  position: relative;
}

.input-line {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  padding: 8px 0;
  background: none;
}

.input-line:focus {
  border-bottom: 2px solid #007bff;
  outline: none;
}

.btn-toggle-password {
  position: absolute;
  top: 0; 
  right: 10px; 
  height: 100%; 
  display: flex;
  align-items: center; 
  border: none; 
  background: none;
  cursor: pointer;
  padding: 0; 
  color: #888;
}

.btn-toggle-password:focus {
  outline: none;
}

.register-footer {
  margin-top: 20px;
}

.error-message-container {
  min-height: 20px;
}