* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #f2f2f2;
}

/* Estilos para botões */

.btn-primary-color {
  background-color: #8A05BE;
  color: #FFFFFF;
}
.btn-primary-color:disabled {
  background-color: #d29fe6; 
  color: #ffffff;
  opacity: 0.6;
  cursor: not-allowed;
}
.btn-primary-color:hover {
  background-color: #8A05BE; 
  color: #FFFFFF;
}

.btn-secondary-color {
  background-color: #A55FED;
  color: #FFFFFF;
}

.btn-secondary-color:disabled {
  background-color: #d6aef5; 
  color: #ffffff;
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-secondary-color:hover {
  background-color: #A55FED; 
  color: #FFFFFF;
}

.btn-outline-primary-color {
  border: 2px solid #8A05BE;
  background-color: transparent;
  color: #8A05BE;
}

.btn-outline-primary-color:disabled {
  border-color: #d29fe6;
  color: #d29fe6;
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-outline-primary-color:hover {
  border-color: #8A05BE;
  background-color: transparent;
  color: #8A05BE;
}

.btn-outline-secondary-color {
  border: 2px solid #A55FED;
  background-color: transparent;
  color: #A55FED;
}

.btn-outline-secondary-color:disabled {
  border-color: #d6aef5;
  color: #d6aef5;
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-outline-secondary-color:hover {
  border-color: #A55FED;
  background-color: transparent;
  color: #A55FED;
}

.btn-gray-light-color {
  background-color: #e0e0e0;
  border-color: #d6d6d6;
  color: #333;
}

.btn-gray-light-color:disabled {
  background-color: #f0f0f0;
  border-color: #e0e0e0;
  color: #999;
  opacity: 0.6;
  cursor: not-allowed;
}
.btn-gray-light-color:hover {
  background-color: #e0e0e0;
  border-color: #d6d6d6;
  color: #333;
}

/* Alertas */

.alert {
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  word-break: break-word;
  padding: 15px;
  margin: 0;
  border-radius: 5px;
  margin-bottom: 15px;
}

.alert h3 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.alert ul {
  padding-left: 10px;
  margin: 0;
}

.alert li {
  margin-bottom: 2px;
}

/*  Mensagem de registros não localizados */

.no-results-message {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
}

/*  Notificações */

.toast-success {
  background-color: #8A05BE !important;
  color: #fff !important;
  border-color: #8A05BE !important;
  box-shadow: 0 0 10px rgba(138, 5, 190, 0.7) !important;
}

.toast-success .toast-title,
.toast-success .toast-message {
  color: #ffffff !important;
}

.toast-success .toast-progress {
  background-color: #ffffff !important;
}

.toast-error {
  background-color: #d9534f !important;
  color: #fff !important;
  border-color: #d9534f !important;
  box-shadow: 0 0 10px rgba(217, 83, 79, 0.5) !important;
}

.toast-error .toast-title,
.toast-error .toast-message {
  color: #ffffff !important;
}

.toast-error .toast-progress {
  background-color: #ffffff !important;
}

/* Modal de exclusão */

.custom-modal-delete .modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.custom-modal-delete .modal-content {
  border-radius: 8px;
}

.custom-modal-delete .modal-title {
  font-size: 1.25rem;
}

.custom-modal-delete .modal-body p {
  font-size: 1rem;
}

.custom-modal-delete .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-modal-delete .button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.custom-modal-delete .button-container button {
  width: 120px;
}

.btn-outline-primary-color {
  border: 2px solid #8A05BE; 
  background-color: transparent;
  color: #8A05BE; 
}

.btn-outline-secondary-color {
  border: 2px solid #A55FED;
  background-color: transparent;
  color: #A55FED;
}

.btn-outline-primary-color:hover, .btn-outline-secondary-color:hover {
  background-color: #8A05BE; 
  color: #FFFFFF; 
}

.btn-gray-light-color {
  background-color: #e0e0e0;
  border-color: #d6d6d6;
  color: #333; 
}

.btn-gray-light-color:hover {
  background-color: #6c757d; 
  border-color: #6c757d;
  color: #fff; 
}

/* Estilos para o alert */

.alert {
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  word-break: break-word;
  padding: 15px;
  margin: 0;
  border-radius: 5px;
  margin-bottom: 15px;
}

.alert h3 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.alert ul {
  padding-left: 10px;
  margin: 0;
}

.alert li {
  margin-bottom: 2px;
}

/* Estilos para mensagem de registros não localizados */

.no-results-message {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
}

/* Estilos para notificações de sucesso */

.toast-success {
  background-color: #8A05BE !important;
  color: #fff !important;
  border-color: #8A05BE !important;
  box-shadow: 0 0 10px rgba(138, 5, 190, 0.7) !important; 
}

.toast-success .toast-title,
.toast-success .toast-message {
  color: #ffffff !important;
}

.toast-success .toast-progress {
  background-color: #ffffff !important;
}

/* Estilos para notificações de erro */

.toast-error {
  background-color: #d9534f !important;
  color: #fff !important;
  border-color: #d9534f !important;
  box-shadow: 0 0 10px rgba(217, 83, 79, 0.5) !important;
}

.toast-error .toast-title,
.toast-error .toast-message {
  color: #ffffff !important;
}

.toast-error .toast-progress {
  background-color: #ffffff !important;
}

/* Estilos para o modal de exclusão de registro */

.custom-modal-delete .modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.custom-modal-delete .modal-content {
  border-radius: 8px;
}

.custom-modal-delete .modal-title {
  font-size: 1.25rem;
}

.custom-modal-delete .modal-body p {
  font-size: 1rem;
}

.custom-modal-delete .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-modal-delete .button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.custom-modal-delete .button-container button {
  width: 120px;
}